body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-right: 300px;
}

.controls {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

button {
    width: 150px;
    height: 40px;
    font-size: large;
    background-color: #1e1e1e;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
}

button:active {
    transform: scale(.95);
}
.info {
    margin-bottom: 50px;
}

#color {
    width: 80px;
    height: 80px;
    border: none;
    background-color: #1e1e1e;
}

#color::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
#color::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#grid-size-info {
    margin: 0;
    padding: 0;
    height: 10px;
    font-size: large;
}

#grid {
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid-element:hover {
    background-color: lightgray;
}

.footer {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
}